/* 
# Course:      CS 476
# Project:     PotholesYQR
# File:        map.css
# Description: This file controls the map styling.
#               
# Authors:
#     Opinder Kaur
#     Christopher Taylor
*/

html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}
